<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
    http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>controllerAdmin</servlet-name>
        <servlet-class>controllers.ControllerAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>controllers.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegister</servlet-name>
        <servlet-class>controllers.ServletRegister</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletRegister</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerAdmin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletLook</servlet-name>
        <servlet-class>controllers.ServletLook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLook</servlet-name>
        <url-pattern>/look</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletDell</servlet-name>
        <servlet-class>controllers.ServletDell</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletDell</servlet-name>
        <url-pattern>/dell</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletUpdate</servlet-name>
        <servlet-class>controllers.ServletUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletUpdate</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
</web-app>
